<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>Contains Servlet Configuration and sitemesh filter mapping</description>
    <display-name>Trade</display-name>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.clri.servlet.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.clri.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.clri.servlet.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.clri.servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.clri.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelUpload</servlet-name>
        <servlet-class>com.clri.servlet.ExcelUpload</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>RawMaterials</servlet-name>
        <servlet-class>com.clri.servlet.RawMaterialsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/customer/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/customer/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category/saveUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category/delete</url-pattern>
    </servlet-mapping>
    <!-- Raw Materials Mapping Start -->
     <servlet-mapping>
        <servlet-name>RawMaterials</servlet-name>
        <url-pattern>/raw/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RawMaterials</servlet-name>
        <url-pattern>/raw/saveUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RawMaterials</servlet-name>
        <url-pattern>/raw/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RawMaterials</servlet-name>
        <url-pattern>/raw/delete</url-pattern>
    </servlet-mapping>
    <!-- Raw Materials Mapping End -->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginAuthenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelUpload</servlet-name>
        <url-pattern>/ExcelUpload</url-pattern>
    </servlet-mapping>
    <!-- Filter Starting -->
    <filter>
        <filter-name>adminAuthFilter</filter-name>
        <filter-class>
         com.clri.filter.AuthorizationFilter
    </filter-class>
        <init-param>
            <param-name>roles</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>onFailure</param-name>
            <param-value>/failure.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>excludePatterns</param-name>
            <param-value>/static/*,/LoginAuthenticate,/logout,/index.jsp</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>cutomerAuthFilter</filter-name>
        <filter-class>
       com.clri.filter.AuthorizationFilter
    </filter-class>
        <init-param>
            <param-name>roles</param-name>
            <param-value>customer</param-value>
        </init-param>
        <init-param>
            <param-name>onFailure</param-name>
            <param-value>/failure.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>excludePatterns</param-name>
            <param-value>/static/*,/LoginAuthenticate,/logout,/index.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>adminAuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name> cutomerAuthFilter </filter-name>
        <url-pattern>/reports/*</url-pattern>
    </filter-mapping>
    <!-- Filter Ending -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>
            com.opensymphony.module.sitemesh.filter.PageFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
